extends layouts/main-layout.pug

block content
    main
        if prods.length > 0
            .grid(style="padding-left: 5rem;")
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://vignette.wikia.nocookie.net/2007scape/images/0/0d/Unholy_book_detail.png/revision/latest?cb=20180310092719", alt="Image not available.", width="100px", height="100px")
                        .card__content
                            h2.product__price $19.99
                            p.product__description A very interesting book to read when you're feeling Lorum Ipsum.
                        .card__actions
                            button.btn Add to Cart
        else
            .grid(style="padding-left: 5rem;")
                h1 No Products